@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (Request.IsAuthenticated)
{
    using (Html.BeginUmbracoForm("PostLogoutForm", "RegisterSurface", FormMethod.Post, new { id = "logoutForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/area-pessoal/"> Olá Nuno <i class="badge">2</i></a> 
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav  navbar-left">
        <li>
            <a href="/login/" class="">login</a>
        </li>
        <li><a href="/registo/" class="">registo</a></li>
    </ul>
    
    <ul class="nav navbar-nav  navbar-right">
        <li>
            <a href="/login/" class="">login</a>
        </li>
        <li><a href="/registo/" class="">registo</a></li>
    </ul>


}

