@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (Request.IsAuthenticated)
{
    using (Html.BeginUmbracoForm("PostLogoutForm", "RegisterSurface", FormMethod.Post, new { id = "logoutForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/area-pessoal/"> Olá Nuno</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/registo/" class="registerLink">Registo</a></li>
        <li><a href="/login/" class="loginLink">Login</a></li>
    </ul>
}