@model  TrocaBolas.Web.Models.MainMenuViewModel

<div class="container">
    <div class="navbar navbar-default">
        <ul class="nav nav-pills">
            <li class="nav navbar-btn"><a href="/">Home</a></></li>
            <li class="nav navbar-btn"><a href="/registo/">Registo</a></li>
        </ul>
    </div>
</div>
