<!DOCTYPE root[<!ELEMENT LoginPageDocType ANY>
<!ATTLIST LoginPageDocType id ID #REQUIRED>
 
<!ELEMENT homePageDocType ANY>
<!ATTLIST homePageDocType id ID #REQUIRED>
<!ELEMENT pageBaseDocType ANY>
<!ATTLIST pageBaseDocType id ID #REQUIRED>
<!ELEMENT registerPageDocType ANY>
<!ATTLIST registerPageDocType id ID #REQUIRED>

]>
<root id="-1">
  <homePageDocType id="1050" key="5a6780ff-8142-4073-92e6-8a21f95b49b1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-09-05T19:03:02" updateDate="2014-09-05T19:21:14" nodeName="HomePage" urlName="homepage" path="-1,1050" isDoc="" nodeType="1048" creatorName="Nuno" writerName="Nuno" writerID="0" template="1049" nodeTypeAlias="homePageDocType" />
  <registerPageDocType id="1053" key="d8d38b49-b60e-4fcc-ac48-2b20ba7629c9" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-09-05T19:20:52" updateDate="2014-09-05T19:23:26" nodeName="registo" urlName="registo" path="-1,1053" isDoc="" nodeType="1051" creatorName="Nuno" writerName="Nuno" writerID="0" template="1052" nodeTypeAlias="registerPageDocType" />
  <LoginPageDocType id="1056" key="0ad985d0-e4f0-4449-8828-c047140919f4" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2014-09-05T19:26:30" updateDate="2014-09-05T19:26:30" nodeName="login" urlName="login" path="-1,1056" isDoc="" nodeType="1054" creatorName="Nuno" writerName="Nuno" writerID="0" template="1055" nodeTypeAlias="LoginPageDocType" />
</root>