@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BaseRootTemplate.cshtml";
}


<h2>Area Pessoal</h2>


<div class="row">
    <div class="col-md-3">
        Inserir Novo PRoduto
    </div>
    <div class="col-md-3">
        Ultimos produtos inseridos
        <div>
            <table class="table table-responsive table-striped table-condensed table-bordered table-hover">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>Preço</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>Botas Adidas</td>
                    <td>15 €</td>
                    <td>Dispinivel</td>
                </tr>
                <tr>
                    <td>Botas Adidas</td>
                    <td>15 €</td>
                    <td>Reservado   </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        Notificações
        <ul>
            <li>
                <p class="alert alert-danger alert-dismissable">Alert Danger</p>
            </li>
            <li>
                <p class="alert alert-info"> Alert Info</p>
            </li>
            <li>
                <p class="alert alert-success">Alert Success</p>
            </li>
            <li>
                <p class="alert alert-warning">Alert warning</p>
            </li>
        </ul>
    </div>
</div>

<div class="row">


    @Html.Action("Edit", "RegisterSurface")

</div>

