@using System.Web.Mvc.Html
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "PageBaseTemplate.cshtml";
}


<div class="row">
    &nbsp;
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    @Html.Action("Register", "RegisterSurface")
</div>